table {
  border-collapse: collapse;
}

.grid {
    width: 320px;
    height: 320px;
}

td {
    padding: 0;
}

#content {
    width: 320px;
}

.cell {
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

.focusedCell {
  background-color: teal;
}

.subtable {
    font-size: 0.4rem;
    color: #888;
    width: 100%;
    height: 100%;
}

.subtable td {
    padding: 0;
    width: 33%;
    height: 33%;
    text-align: center;
    vertical-align: middle;
}

.entry {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.entry .toggle-button {
    width: 10px;
    background: #ddd;
    text-align: center;
    vertical-align: middle;
}

.toggle-button.active {
    background: #333;
}

.messages tr:nth-child(odd) {
    background: #eee;
}

.messages tr:nth-child(even) {
    background: #aaa;
}
