table {
    border-collapse: collapse;
}

body {
    font: 1rem 'Roboto Sans', sans-serif;
}

.grid {
    width: 360px;
    height: 360px;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.row:nth-child(3n + 1) {
    border-bottom: 2px solid black;
}

col:nth-child(3n) {
    border-right: 2px solid black;
}

td {
    padding: 0;
}

button {
    height: 36px;
    border: 2px solid black;
    border-radius: 2px;
    background-color: white;
    font-size: 18px;
    touch-action: manipulation;
}

#content {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell {
    border: 1px solid black;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.4rem;
}

.focusedCell {
    background-color: teal;
}

.subtable {
    font-weight: 600;
    font-size: 0.4rem;
    color: #888;
    width: 100%;
    height: 100%;
}

.subtable td {
    padding: 0;
    width: 33%;
    height: 33%;
    text-align: center;
    vertical-align: middle;
}

.entry {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.entry .toggle-button {
    width: 15px;
    padding: 3px;
    margin: 5px 0;
    background: #ddd;
    text-align: center;
    vertical-align: middle;
    font: 1rem 'Roboto Sans', sans-serif;
}

.toggle-button.active {
    background: #333;
}

.messages {
    margin-top: 5px;
}

.messages tr:nth-child(odd) {
    background: #eee;
}

.messages tr:nth-child(even) {
    background: #aaa;
}
